
.tooltip {
    background-color: rgb(10,10,10) !important;
    color: white !important;
}

.navlink {
    color:  #f29553 !important;
    margin: 0.4rem;
}

.card-body {
    color: #f29553 !important;
}

.social {
    color: #f29553 !important;
}
